/* Стили для body */
body {
    font-family: Arial, sans-serif; /* Шрифт для всего текста на странице */
    background-color: #ffffff; /* Цвет фона страницы */
}

/* Стили для заголовков */
h1 {
    font-size: 32px; /* Размер шрифта заголовка h1 */
}

h2 {
    font-size: 24px; /* Размер шрифта заголовка h1 */
}

/* Стили для параграфов */
p {
    font-size: 16px; /* Размер шрифта параграфов */
    line-height: 1.5; /* Межстрочный интервал */
}

/* Стили для ссылок */
a {
    color: #007bff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}